h3 {
  border-bottom: solid 1px lightgrey;
  margin-bottom: 20px;
}

ul {
  padding-left: 0;
  list-style-type: none;
}

.glyphicon {
  padding-right: 5px;
}

.inprogress {
  color: #000;
  min-height: 100px;
}

.complete {
  color: #ddd;
  text-decoration: line-through;
}

.jumbotron {
  text-align: center;
}

.left-border {
  border-left: solid 1px lightgrey;
}

.clickable {
  cursor: pointer;
}

.clickable:hover {
  text-decoration: underline;
}

.addTask {
  color: #3388ff;
}

.deleteTask {
  color: #D44444;
}

.renewTask {
  color: #888;
}
